@using LandAPI.Web.Components.Layouts
@using LandAPI.API
@using System.Text.Json
@inject NavigationManager Navigation

<a class="card" style="width: 100%; padding: 0; cursor: pointer; text-decoration: none;" href="/landopedia/lander/@Lander.Name">
    <p class="header3 card-title">@Lander.Name</p>
    <glb-viewer src="@Lander.Model" camera-x="0" camera-y="0.4" camera-z="0.6" offset-x="0" offset-y="0.4" offset-z="0" width="240px" height="240px"></glb-viewer>
    <ul class="type-container">
        @foreach (var type in types)
        {
            <li class="lander-type NunitoXL Bold"><img src="@type.Sprite" style="height: 49px;" /></li>
        }
    </ul>
</a>

@code 
{
    [Parameter] 
    public Lander Lander { get; set; }

    private List<LandAPI.API.Type>? types;

    protected override void OnInitialized()
    {
        string jsonData = File.ReadAllText("wwwroot/Assets/Data/types.json");
        types = JsonSerializer.Deserialize<List<LandAPI.API.Type>>(jsonData)!.Where(x => Lander.Types.Contains(x.Name)).ToList();
    }
}
