<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="landopedia/#">Landopedia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        API data
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="api/v1/lander">Landers</a></li>
                        <li><a class="dropdown-item" href="api/v1/type">Types</a></li>
                        <li><a class="dropdown-item" href="api/v1/move">Moves</a></li>
                        <li><a class="dropdown-item" href="api/v1/stat">Stats</a></li>
                        <li><a class="dropdown-item" href="api/v1/nature">Natures</a></li>
                        <li><a class="dropdown-item" href="api/v1/ailment">Ailment</a></li>
                        <li><a class="dropdown-item" href="api/v1/evolutionchain">Evolution chain</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <button id="ThemeToggle" type="button" class="btn" data-bs-toggle="button">Dark Mode</button>
    </div>
</nav>